#searchBarInput {
    font-size: xx-large;
    max-height: 65px;
    height: 65px;
    min-height: 65px;
    max-width: 800px;
    width: 800px;
    min-width: 800px;
    border-radius: 20px;
}

#searchButton
{
    font-size: xx-large;
    max-height: 75px;
    height: 75px;
    min-height: 75px;
    max-width: 200px;
    width: 200px;
    min-width: 200px;
    background-color: #ffb30f;
    border-radius: 20px;

}

.caba {
    text-align: center;
}

.findBox
{
    display: inline-block;
    text-align: center;
}

.profileBox
{
    border-radius: 30px;
    border: solid black 5px;
    margin: 5px 5px 5px 5px;
    text-align: center;
    height: 220px;
    max-height: 220px;
    min-height: 220px;
    width: 700px;
    max-width: 700px;
    min-width: 700px;
    flex: 1;
    flex-direction: column;
    background-color: #b3aba8;
}

#b_username {
    font-size: 40px;
    position: relative;
    margin-right: 180px;
    border: 2px solid black;
}

#b_userMotto {
    position: relative;
    font-size: 30px;
}

.finding_image {
    width: 80px;
    height: 80px;
    background-color: white;
    float: left;
    position: relative;
    margin-left: 25px;
    margin-top: 30px;
}

#b_addFriendButton {
    position: relative;
    margin-left: 424px;
    box-shadow:inset 0 0 15px 3px #23395e;
    background: #2e466e linear-gradient(to bottom, #2e466e 5%, #415989 100%);
    border-radius:17px;
    border:1px solid #1f2f47;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family: Arial, serif;
    font-size:20px;
    padding:6px 70px;
    text-decoration:none;
    text-shadow:0 1px 0 #263666;
    width: 250px;
    height: 50px;
}
#b_addFriendButton:hover {
    background: #415989 linear-gradient(to bottom, #415989 5%, #2e466e 100%);
}
#b_addFriendButton:active {
    background: radial-gradient(#ffa805 0%, #e8e8a7 100%);
    position:relative;
    top:1px;
}














